html, body { 
    height: 100%;
    width: 100%; 
    margin: 0px; 
}

.nav {
    background-color: #000000;
    border-bottom: 1px solid #8ebbeb;
    height: 56px;
    position: fixed;
    z-index: 420;
    width: 100%;
}

.nav a, p {
    color: #2a83fa;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 50px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.nav p {
    padding-left: 50px;
}

.nav p:hover {
    color: #2f8e20 !important;
}

.nav p:active {
    color: #2f8e20;
}

.nav a:hover {
    color: #2f8e20;
}

.nav .container .pull-right {
    position: fixed;
    right: 0;
    top: 1.5%;
}

.nav .container {
    padding: 0px;
    margin: 0;
}

.nav .container .pull-left {
    position: fixed;
    left: 7%;
    top: 1.5%;
}

.nav li {
    display: inline-block;
}

.nav .container .pull-right .drop {
    display: none;
    position: fixed;
}

.nav .container .pull-right .drop .d1, .d2, .d3 {
    background: rgba(0, 0, 0, .8);
    border-left: 1px solid #8ebbeb;
    border-right: 1px solid #8ebbeb;
    border-bottom: 1px solid #8ebbeb;
    position: relative;
    top: 6px;
    width: 160px;
}

.nav .container .pull-right .drop .d1 a, .d2 a, .d3 a {
    font-size: 14px;
    padding-right: 0px;
}



.nav .container .pull-right .drop .d3 {
    width: 143px;
}

.nav .container img {
    position: fixed;
    left: 10;
    top: 1;
}


.jumbotron .container {
    background-image: url("http://feelgrafix.com/data_images/out/4/766771-chile-wallpaper.jpg");
    position: relative;
    top:40px;
}

.jumbotron h1 {
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
}

.words h2, h3 {
    font-size: 35px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
}

.words h3 {
    font-size: 25px;
}

.words .idea p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding: 3px;
    cursor: normal;
    font-weight: bold;
    text-shadow: none;
    pointer-events: none;
    text-align: center;
}

.idea {
    border-bottom: 1px solid #000000;
    width: 70%;
    left: 15%;
}

.us .col-md-6 p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding: 3px;
    cursor: normal;
    font-weight: bold;
    text-shadow: none;
    pointer-events: none;
    text-align: center;
}