html, body { 
    height: 100%;
    width: 100%; 
    margin: 0px; 
}

.nav {
    background-color: #000000;
    border-bottom: 1px solid #8ebbeb;
    height: 56px;
    position: fixed;
    z-index: 420;
    width: 100%;
}

.nav a, p {
    color: #2a83fa;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 50px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.nav p {
    padding-left: 50px;
}

.nav p:hover {
    color: #2f8e20 !important;
}

.nav p:active {
    color: #2f8e20;
}

.nav a:hover {
    color: #2f8e20;
}

.nav .container .pull-right {
    position: fixed;
    right: 0;
    top: 1.5%;
}

.nav .container {
    padding: 0px;
    margin: 0;
}

.nav .container .pull-left {
    position: fixed;
    left: 7%;
    top: 1.5%;
}

.nav li {
    display: inline-block;
}

.nav .container .pull-right .drop {
    display: none;
    position: fixed;
}

.nav .container .pull-right .drop .d1, .d2, .d3 {
    background: rgba(0, 0, 0, .8);
    border-left: 1px solid #8ebbeb;
    border-right: 1px solid #8ebbeb;
    border-bottom: 1px solid #8ebbeb;
    position: relative;
    top: 6px;
    width: 160px;
}

.nav .container .pull-right .drop .d1 a, .d2 a, .d3 a {
    font-size: 14px;
    padding-right: 0px;
}



.nav .container .pull-right .drop .d3 {
    width: 143px;
}

.nav .container img {
    position: fixed;
    left: 10;
    top: 1;
}

.jumbotron {
    background-image:url('http://topwalls.net/wp-content/uploads/2012/08/Torres-del-Paine-Chile.jpg');
    height: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #566341;
}

.jumbotron .container {
    position: relative;
    top:100px;
}

.jumbotron h1 {
    color: #000000;
    font-size: 48px;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    pointer-events: none;
}

.jumbotron p {
    font-size: 18px;
    font-family: 'Special Elite', cursive;
    color: #000000;
    padding: 3px;
    cursor: normal;
    font-weight: bold;
    text-shadow: none;
    pointer-events: none;
}


.odcast {
    background-color: #ecede0;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
}

.odcast h2 {
    border-bottom: 1px solid #393c3d;
}

.odcast h3 {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: bold;
    pointer-events: none;
}

.odcast li {
    display: inline-block;
    float: none;
}

.odcast p {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: bold;
    margin-bottom: 13px;
    margin-top: 13px;
    pointer-events: none;
}

.odcast .container .tit p {
    color: #000000;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0px;
    pointer-events: none;
}

.odcast .container .tit {
    position: relative;
    left: -2%;
}

.odcast .row iframe {
    border: 1px solid #393c3d;
    width: 80%;
}

.odcast .row:before {
    content: " ";
    display: block;
    position: relative;
    height: 56px;
    margin-top: -56px;
}

.odcast img {
    border: 1px solid #393c3d;
}

.odcast .wrapper:before {
    content: " ";
    display: block;
    position: relative;
    height: 65px;
    margin-top: -65px;
}

.odcast .wrapper {
    display: block;
    height: 60%;
    width: 80%;
    margin: auto;
}
q
.odcast .imgcontainer {
    background-color: #d3d3d3;
    display: block;
    float: left;
    height: 600px;
    width: 800px;
    overflow: auto;
}

.odcast .slider1 {
    display: block;
    float: left;
    height: 600px;
    width: 800px;
    overflow: hidden;
    position: absolute;
}
.odcast .slider2 {
    display: block;
    float: left;
    height: 600px;
    width: 800px;
    overflow: hidden;
    position: absolute;
}
.odcast .slider3 {
    display: block;
    float: left;
    height: 600px;
    width: 800px;
    overflow: hidden;
    position: absolute;
}
.odcast .slider4 {
    display: block;
    float: left;
    height: 600px;
    width: 800px;
    overflow: hidden;
    position: absolute;
}
.odcast .slider5 {
    display: block;
    float: left;
    height: 600px;
    width: 800px;
    overflow: hidden;
    position: absolute;
}
.odcast .slider6 {
    display: block;
    float: left;
    height: 600px;
    width: 800px;
    overflow: hidden;
    position: absolute;
}

.odcast .controllerl {
    background-image: url('../larrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: left;
    height: 600px;
    width: 100px;
    position: relative;
    z-index: 99;
}

.odcast .controllerr {
    background-image: url('../rarrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: right;
    height: 600px;
    width: 100px;
    position: relative;
    z-index: 99;
}

.nothing {
    height: 30px;
}